<div class="contents row" >
    <% @articles.each do |article| %>
  <div class="content_post">
    <a href=""><span></span><%= article.user.name %></a>
    <div class=""><img src="<%= article.image %>"></div>
    <%= simple_format(article.text) %>
  </div>
    <% end %>
  <%= paginate(@articles) %>
</div>
