<!DOCTYPE html>
<html>
<head>
  <title>Sense</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h3>SENSE OF WONDER</h3>
</header>

<%= yield %>

</body>

<footer>
<p="copywrite">(C) SENSEOFWONDER.</p>
</footer>
</html>
